Compression yes
ForwardX11 yes

host pdxmod1
    hostname 70.103.27.116
    user john

host proc2
    hostname proc2.airsci.com
    user airsci

host proc4
    hostname proc4.airsci.com
    user airsci

host owens_web
    hostname owens.airsci.com
    user airsci

host salton_web
    hostname salton.airsci.com
    user airsci
