Compression yes

host pdxmod1
    ForwardX11 yes
    hostname 70.103.27.116
    user john

host proc2
    ForwardX11 yes
    hostname proc2.airsci.com
    user airsci

host proc4
    ForwardX11 yes
    hostname proc4.airsci.com
    user airsci

host owens_web
    ForwardX11 yes
    hostname owens.airsci.com
    user airsci

host salton_web
    ForwardX11 yes
    hostname salton.airsci.com
    user airsci

host owens_reports
    ForwardX11 yes
    hostname 35.165.190.217
    user airsci
    IdentityFile ~/.ssh/JBT470.pem

host salton_reports
    ForwardX11 yes
    hostname 54.148.136.15
    user airsci
    IdentityFile ~/.ssh/JBT470.pem

host multi_core
    ForwardX11 yes
    hostname 54.187.146.106
    user ubuntu
    IdentityFile ~/.ssh/JBT470.pem
